[submodule "backend"]
	path = backend
	url = https://github.com/FachruDev/Sellerpintar_backend
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/FachruDev/Sellerpintar_frontend
	branch = main
